Repository db-ui/gif, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, cicd

docs: update icon subset docs (#416)
  docs/IconSubset.md
Labels: none

Create 99-reuse-compliance-check.yml
  .github/workflows/99-reuse-compliance-check.yml
Labels: cicd

fix: issue with generate icon font
  package.json
  src/commands/generate-icon-fonts/index.ts
Labels: repo

fix: issue with generate icon font (#432)
  package.json
  src/commands/generate-icon-fonts/index.ts
Labels: repo

fix: issue with short names after commander issue
  src/program.ts
Labels: none

fix: issue with short names after commander issue (#433)
  src/program.ts
Labels: none

refactor: stable renaming
  .github/workflows/default.yml
  CONTRIBUTING.md
  package.json
Labels: repo, cicd

refactor: prettier
  docs/API.md
Labels: none

Revert "refactor: prettier"
  docs/API.md
Labels: none

refactor: prettier
  docs/API.md
Labels: none

refactor: prettier
  docs/API.md
Labels: none

refactor: prettier
  docs/API.md
Labels: none

refactor: prettier
  docs/API.md
Labels: none

refactor: added short for debug and prettier
  docs/API.md
  src/utils/shared.ts
Labels: none

refactor: prettier
  docs/API.md
Labels: none

refactor: prettier and added short version for `debug` (#453)
  docs/API.md
  src/utils/shared.ts
Labels: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: repo

Apply suggestions from code review
  CONTRIBUTING.md
  package.json
Labels: repo

fix: issues with dependabot
  .github/dependabot.yml
  .github/workflows/99-auto-merge.yml
Labels: cicd

fix: issues with dependabot (#457)
  .github/dependabot.yml
  .github/workflows/99-auto-merge.yml
Labels: cicd

refactor: stable renaming (#454)
  .github/workflows/default.yml
  CONTRIBUTING.md
  package.json
Labels: repo, cicd

.github/labeler.yml:

---
repo:
  - changed-files:
      - any-glob-to-any-file: "*"

cicd:
  - changed-files:
      - any-glob-to-any-file: [".github/*", ".github/**/*"]
