Repository db-ui/gif, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, cicd

.github/labeler.yml:

---
repo:
  - changed-files:
      - any-glob-to-any-file: "*"

cicd:
  - changed-files:
      - any-glob-to-any-file: [".github/*", ".github/**/*"]

refactor(husky): replaced older solution
  package.json
Labels: repo

feat: added husky
  package-lock.json
  package.json
Labels: repo

refactor: migrated to the newer husky scripts files format
  .husky/pre-commit
Labels: none

fix: scan secrets for main
  .github/workflows/default.yml
  .github/workflows/publish.yml
Labels: cicd

docs: added comment to these conditions
  .github/workflows/default.yml
Labels: cicd

chore: update eslint
  .github/dependabot.yml
  package-lock.json
  package.json
Labels: repo, cicd

fix: cli
  package-lock.json
  package.json
  src/clean-icons/cli.ts
  src/clean-icons/index.ts
  src/generate-icon-fonts/data.ts
  src/generate-icon-fonts/index.ts
  src/generate-icon-fonts/svg-to-font.ts
  src/program.ts
  src/types.ts
  test/simple/db.svg
  test/simple/db_logo.svg
  test/simple/ignore/db.svg
  test/simple/ignore/db_logo.svg
  test/simple/simple.test.ts
Labels: repo

refactor: Update `CODE-OF-CONDUCT.md`
  CODE-OF-CONDUCT.md
Labels: repo

Update CODE-OF-CONDUCT.md
  CODE-OF-CONDUCT.md
Labels: repo

refactor: squash dependabot PRs
  .github/workflows/99-auto-merge.yml
Labels: cicd

feat: add overwrite sources for cli
  src/generate-icon-fonts/data.ts
  src/generate-icon-fonts/gather-icons.ts
  src/generate-icon-fonts/index.ts
Labels: none

chore: replace jest with vitest
  jest.config.js
  package-lock.json
  package.json
  test/advanced/advanced.test.ts
  test/local/local.test.ts
  test/simple/simple.test.ts
  vitest.config.ts
Labels: repo

feat: generating provenance statements
  .github/workflows/02-publish.yml
  .github/workflows/publish.yml
Labels: cicd

fix: package.json url entry
  package.json
Labels: repo

fix: provide correct fileending
  package-lock.json
  package.json
Labels: repo

refactor: let's use esm
  package-lock.json
  package.json
Labels: repo

fix: ReferenceError: __filename is not defined
  src/generate-icon-fonts/svg-to-font.ts
  tsconfig.json
Labels: repo

refactor: let's adapt this to NodeNext
  tsconfig.json
Labels: repo

docs: added a note for required attributes
  README.md
Labels: repo

Update README.md
  README.md
Labels: repo

fix: issue with generated icon preview
  src/generate-icon-fonts/svg-to-font.ts
  src/generate-icon-fonts/templates/index.njk
Labels: none

refactor: resolves a dependabot alert
  package.json
Labels: repo

refactor: regenerated package lock file
  package-lock.json
Labels: repo

refactor: updated auto-merge capability
  .github/workflows/99-auto-merge.yml
Labels: cicd

feat: add skip clean arg
  package.json
  src/clean-icons/index.ts
  src/generate-icon-fonts/data.ts
  src/generate-icon-fonts/index.ts
  src/types.ts
  tsconfig.json
Labels: repo

fix: issue with truffle hog
  .github/workflows/00-scan-secrets.yml
Labels: cicd

fix: path resolving for generate-icon-fonts
  src/generate-icon-fonts/svg-to-font.ts
Labels: none

fix: issue with placeholder fallback
  src/generate-icon-fonts/gather-icons.ts
Labels: none

refactor: try out new ubuntu version
  .github/workflows/00-init.yml
  .github/workflows/00-scan-secrets.yml
  .github/workflows/01-build.yml
  .github/workflows/01-lint.yml
  .github/workflows/01-test.yml
  .github/workflows/02-publish.yml
  .github/workflows/99-auto-merge.yml
  .github/workflows/99-codeql-analysis.yml
  .github/workflows/99-dependency-review.yml
  .github/workflows/99-labeler.yml
Labels: cicd

refactor: updated node version
  .nvmrc
Labels: repo

refactor: replaced npm-run-all by npm-run-all2
  package-lock.json
  package.json
Labels: repo

test: fonttools
  .github/workflows/00-fonttools-test.yml
  .github/workflows/default.yml
Labels: cicd

test: fonttools
  .github/workflows/00-fonttools-test.yml
Labels: cicd

test: fonttools
  .github/workflows/00-fonttools-test.yml
Labels: cicd

fix: move pnpm-init into actions
  .github/actions/pnpm-init/action.yml
Labels: cicd

fix: issues with build
  package.json
  src/commands/clean-icons/data.ts
  src/commands/clean-icons/index.ts
  src/commands/generate-icon-fonts/data.ts
  src/utils/index.ts
  src/utils/inquirer-process.ts
  src/utils/shared.ts
  tsconfig.json
Labels: repo

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Labels: repo

fix: issue with missing dependencies
  package.json
  pnpm-lock.yaml
Labels: repo

chore: change package name from db-ui to db-ux
  README.md
  docs/API.md
  package.json
  src/data.ts
Labels: repo

feat: add cosmiconfig to load config files
  README.md
  docs/API.md
  docs/CleanIcons.md
  docs/GenerateIconFonts.md
  package.json
  pnpm-lock.yaml
  src/api-docs.ts
  src/commands/clean-icons/data.ts
  src/commands/clean-icons/index.ts
  src/commands/generate-icon-fonts/data.ts
  src/commands/generate-icon-fonts/index.ts
  src/commands/generate-icon-fonts/utils/gather-icons.ts
  src/data.ts
  src/utils/config-process.ts
  src/utils/shared.ts
  test/generate-icon-fonts/config/brand.svg
  test/generate-icon-fonts/config/config.test.ts
  test/generate-icon-fonts/config/generate-icon-fonts.json
  test/generate-icon-fonts/config/ignore/brand.svg
Labels: repo
