Repository db-ui/gif, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, cicd

.github/labeler.yml:

---
repo:
  - changed-files:
      - any-glob-to-any-file: "*"

cicd:
  - changed-files:
      - any-glob-to-any-file: [".github/*", ".github/**/*"]

feat: add hygen to create new commands
  docs/GenerateIconFonts.md
  hygen/README.md
  hygen/_templates/command/new/prompt.js
  hygen/_templates/command/new/src/commands/action.ejs.t
  hygen/_templates/command/new/src/commands/data.ejs.t
  hygen/_templates/command/new/src/commands/index.ejs.t
  hygen/_templates/command/new/src/programm-data/data-command.ejs.t
  hygen/_templates/command/new/src/programm-data/data-import.ejs.t
  hygen/_templates/command/new/src/programm-data/data-name-const.ejs.t
  hygen/_templates/command/new/src/test/simple.ejs.t
  hygen/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/commands/clean-icons/action.ts
  src/commands/clean-icons/index.ts
  src/commands/generate-icon-fonts/action.ts
  src/commands/generate-icon-fonts/index.ts
  src/commands/generate-icon-fonts/utils/index.ts
  src/data.ts
  test/clean-icons/simple/simple.test.ts
  test/generate-icon-fonts/config/config.test.ts
  test/generate-icon-fonts/simple/simple.test.ts
Labels: repo

fix: issues with generation from hygen
  hygen/_templates/command/new/src/commands/action.ejs.t
  hygen/_templates/command/new/src/commands/data.ejs.t
  hygen/_templates/command/new/src/programm-data/data-command.ejs.t
  hygen/_templates/command/new/src/programm-data/data-import.ejs.t
  hygen/_templates/command/new/src/programm-data/data-name-const.ejs.t
  hygen/_templates/command/new/src/test/package.json.ejs.t
  hygen/_templates/command/new/src/test/simple.ejs.t
Labels: none

Feat hygen (#396)
  docs/GenerateIconFonts.md
  hygen/README.md
  hygen/_templates/command/new/prompt.js
  hygen/_templates/command/new/src/commands/action.ejs.t
  hygen/_templates/command/new/src/commands/data.ejs.t
  hygen/_templates/command/new/src/commands/index.ejs.t
  hygen/_templates/command/new/src/programm-data/data-command.ejs.t
  hygen/_templates/command/new/src/programm-data/data-import.ejs.t
  hygen/_templates/command/new/src/programm-data/data-name-const.ejs.t
  hygen/_templates/command/new/src/test/package.json.ejs.t
  hygen/_templates/command/new/src/test/simple.ejs.t
  hygen/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/commands/clean-icons/action.ts
  src/commands/clean-icons/index.ts
  src/commands/generate-icon-fonts/action.ts
  src/commands/generate-icon-fonts/index.ts
  src/commands/generate-icon-fonts/utils/index.ts
  src/data.ts
  test/clean-icons/simple/simple.test.ts
  test/generate-icon-fonts/config/config.test.ts
  test/generate-icon-fonts/simple/simple.test.ts
Labels: repo

Update README.md
  README.md
Labels: repo

Update README.md (#397)
  README.md
Labels: repo

feat: enabled icon subset completely
  .gitignore
  README.md
  docs/API.md
  docs/IconSubset.md
  package.json
  pnpm-lock.yaml
  src/api-docs.ts
  src/commands/clean-icons/data.ts
  src/commands/generate-icon-fonts/data.ts
  src/commands/icon-subset/action.ts
  src/commands/icon-subset/data.ts
  src/commands/icon-subset/helpers/filter-icons.ts
  src/commands/icon-subset/helpers/ttx.ts
  src/commands/icon-subset/index.ts
  src/data.ts
  src/program.ts
  src/utils/shared.ts
  test/icon-subset/config/config.test.ts
  test/icon-subset/config/icon-subset.json
  test/icon-subset/simple/simple.test.ts
  test/icon-subset/test.woff2
  test/package.json
Labels: repo

chore: updated api
  docs/API.md
  src/api-docs.ts
  src/commands/generate-icon-fonts/data.ts
  src/program.ts
Labels: none

chore: updated from main
  pnpm-lock.yaml
Labels: repo

fix: issue with tests in cicd by installing fonttools
  .github/workflows/01-test.yml
Labels: cicd

Update IconSubset.md
  docs/IconSubset.md
Labels: none

refactor: prettier
  src/commands/clean-icons/data.ts
Labels: none

feat: added package lock file
  package-lock.json
Labels: repo

refactor: remove that gentlemen
  CODEOWNERS
Labels: repo

refactor: optimizations (#412)
  package-lock.json
  src/commands/clean-icons/data.ts
Labels: repo

Refactor remove that gentlemen (#413)
  CODEOWNERS
Labels: repo

refactor: removed that one again for the moment
  package-lock.json
Labels: repo

Update .github/workflows/01-test.yml
  .github/workflows/01-test.yml
Labels: cicd

Update docs/IconSubset.md
  docs/IconSubset.md
Labels: none

Update docs/IconSubset.md
  docs/IconSubset.md
Labels: none

Update src/commands/icon-subset/data.ts
  src/commands/icon-subset/data.ts
Labels: none

Update src/commands/icon-subset/helpers/filter-icons.ts
  src/commands/icon-subset/helpers/filter-icons.ts
Labels: none

Update src/commands/icon-subset/helpers/ttx.ts
  src/commands/icon-subset/helpers/ttx.ts
Labels: none

Update src/commands/icon-subset/helpers/ttx.ts
  src/commands/icon-subset/helpers/ttx.ts
Labels: none

Update src/commands/icon-subset/helpers/ttx.ts
  src/commands/icon-subset/helpers/ttx.ts
Labels: none

chore: update from main
  docs/API.md
  pnpm-lock.yaml
Labels: repo

refactor: replaced Src by Source
  docs/API.md
Labels: none

Update src/commands/icon-subset/helpers/filter-icons.ts
  src/commands/icon-subset/helpers/filter-icons.ts
Labels: none

Update docs/IconSubset.md
  docs/IconSubset.md
Labels: none

Update src/commands/icon-subset/helpers/filter-icons.ts
  src/commands/icon-subset/helpers/filter-icons.ts
Labels: none

Update src/commands/icon-subset/helpers/filter-icons.ts
  src/commands/icon-subset/helpers/filter-icons.ts
Labels: none

Update src/utils/shared.ts
  src/utils/shared.ts
Labels: none

Update docs/API.md
  docs/API.md
Labels: none

Update test/icon-subset/simple/simple.test.ts
  test/icon-subset/simple/simple.test.ts
Labels: none

Update ttx.ts
  src/commands/icon-subset/helpers/ttx.ts
Labels: none

Update test/icon-subset/config/config.test.ts
  test/icon-subset/config/config.test.ts
Labels: none

Update src/commands/icon-subset/index.ts
  src/commands/icon-subset/index.ts
Labels: none

feat: icon subset (#407)
  .github/workflows/01-test.yml
  .gitignore
  README.md
  docs/API.md
  docs/IconSubset.md
  package.json
  pnpm-lock.yaml
  src/api-docs.ts
  src/commands/clean-icons/data.ts
  src/commands/generate-icon-fonts/data.ts
  src/commands/icon-subset/action.ts
  src/commands/icon-subset/data.ts
  src/commands/icon-subset/helpers/filter-icons.ts
  src/commands/icon-subset/helpers/ttx.ts
  src/commands/icon-subset/index.ts
  src/data.ts
  src/program.ts
  src/utils/shared.ts
  test/icon-subset/config/config.test.ts
  test/icon-subset/config/icon-subset.json
  test/icon-subset/simple/simple.test.ts
  test/icon-subset/test.woff2
  test/package.json
Labels: repo, cicd

fix: build output as nodejs to allow using it inside `.js` file
  docs/API.md
  docs/GenerateIconFonts.md
  docs/IconSubset.md
  hygen/_templates/command/new/src/commands/command/action.ejs.t
  hygen/_templates/command/new/src/commands/command/data.ejs.t
  hygen/_templates/command/new/src/commands/command/index.ejs.t
  hygen/_templates/command/new/src/commands/index.ejs.t
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/api-docs.ts
  src/cli.ts
  src/commands/clean-icons/action.ts
  src/commands/clean-icons/data.ts
  src/commands/clean-icons/index.ts
  src/commands/generate-icon-fonts/action.ts
  src/commands/generate-icon-fonts/data.ts
  src/commands/generate-icon-fonts/index.ts
  src/commands/generate-icon-fonts/utils/gather-icons.ts
  src/commands/generate-icon-fonts/utils/svg-to-font.ts
  src/commands/icon-subset/action.ts
  src/commands/icon-subset/data.ts
  src/commands/icon-subset/helpers/filter-icons.ts
  src/commands/icon-subset/helpers/ttx.ts
  src/commands/icon-subset/index.ts
  src/commands/index.ts
  src/data.ts
  src/program.ts
  src/utils/inquirer-process.ts
  src/utils/shared.ts
  test/clean-icons/simple/simple.test.ts
  test/generate-icon-fonts/config/config.test.ts
  test/generate-icon-fonts/config/generate-icon-fonts.json
  test/generate-icon-fonts/simple/simple.test.ts
  test/icon-subset/config/config.test.ts
  test/icon-subset/config/icon-subset.json
  test/icon-subset/ignore-test.woff2
  test/icon-subset/simple/simple.test.ts
  test/package.json
  tsconfig.json
Labels: repo

fix: build output as nodejs to allow using it inside `.js` file (#415)
  docs/API.md
  docs/GenerateIconFonts.md
  docs/IconSubset.md
  hygen/_templates/command/new/src/commands/command/action.ejs.t
  hygen/_templates/command/new/src/commands/command/data.ejs.t
  hygen/_templates/command/new/src/commands/command/index.ejs.t
  hygen/_templates/command/new/src/commands/index.ejs.t
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/api-docs.ts
  src/cli.ts
  src/commands/clean-icons/action.ts
  src/commands/clean-icons/data.ts
  src/commands/clean-icons/index.ts
  src/commands/generate-icon-fonts/action.ts
  src/commands/generate-icon-fonts/data.ts
  src/commands/generate-icon-fonts/index.ts
  src/commands/generate-icon-fonts/utils/gather-icons.ts
  src/commands/generate-icon-fonts/utils/svg-to-font.ts
  src/commands/icon-subset/action.ts
  src/commands/icon-subset/data.ts
  src/commands/icon-subset/helpers/filter-icons.ts
  src/commands/icon-subset/helpers/ttx.ts
  src/commands/icon-subset/index.ts
  src/commands/index.ts
  src/data.ts
  src/program.ts
  src/utils/inquirer-process.ts
  src/utils/shared.ts
  test/clean-icons/simple/simple.test.ts
  test/generate-icon-fonts/config/config.test.ts
  test/generate-icon-fonts/config/generate-icon-fonts.json
  test/generate-icon-fonts/simple/simple.test.ts
  test/icon-subset/config/config.test.ts
  test/icon-subset/config/icon-subset.json
  test/icon-subset/ignore-test.woff2
  test/icon-subset/simple/simple.test.ts
  test/package.json
  tsconfig.json
Labels: repo

docs: update icon subset docs
  docs/IconSubset.md
Labels: none
